<?xml version="1.0" encoding="utf-8"?>
<module>
<name>Billing</name>
<version>10.0.0</version>
<defaultcat>Reseller</defaultcat>
<desc>Billing System</desc>
<type>user</type>
<authorname>Martin Kollerup and Others</authorname>
<authoremail>rob@brownweb.com.au</authoremail>
<authorurl>http://www.brownweb.com.au</authorurl>
<modulepdateurl>http://www.brownweb.com.au/zpanel/billing.xml</moduleupdateurl>
</module>
