<html>

<head>
<meta http-equiv="Content-Language" content="en-gb">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>New Page 2</title>
</head>

<body marginheight="0" topmargin="0" vspace="0" marginwidth="0" leftmargin="0" hspace="0">

<table border="0" width="100%" style="border-collapse: collapse" id="table28" height="100%">
	<tr>
		<td height="54" bgcolor="#152E9B">
		<div align="center">
			<table border="0" width="950" id="table29">
				<tr>
					<td>
					<table border="0" width="100%" id="table30">
						<tr>
							<td width="85">
							<a href="?">
							<img src="../img/logo.png" border="0" alt="" align="left"></a></td>
							<td>
					<p align="center"><b><font face="Arial">
					<a href="index.php"><font color="#FFFFFF">Admin Home</font></a><font color="#FFFFFF"> |
					</font>
					<a href="index.php?view=packages"><font color="#FFFFFF">Edit Package Prices</font></a><font color="#FFFFFF"> |
					</font>
					<a href="index.php?view=invoices"><font color="#FFFFFF">View Invoices</font></a><font color="#FFFFFF"> (</font><a href="index.php?view=invoices&mode=2"><font color="#FFFFFF">Unpaid 
					Only</font></a><font color="#FFFFFF">) | </font>
					<a href="index.php?view=payment_methods">
					<font color="#FFFFFF">Add Payment Methods</font></a></font></b></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
		</div>
		</td>
	</tr>
	<tr>
		<td height="28" background="http://www.createmyphotocanvas.co.uk/img/textured-grey1.jpg">
		<div align="center">
			<table border="0" width="950" id="table31">
				<tr>
					<td>
					<p align="center">
										<b><font face="Verdana" size="1">IWP-Billing 
										Module for ZPanel</font></b></td>
				</tr>
			</table>
		</div>
</td>
	</tr>
	<tr>
		<td width="28%" valign="top">
						<p align="center">
						