<!DOCTYPE HTML>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Buy hosting</title>
	<link href="templates/style.css" rel="stylesheet" type="text/css">	
	:head
</head>

<body>
<div id="main">
	<form method="POST" action=":action">	
		<div id="error">
			<div id="error-inner">
			:error		
			</div>
		</div>
		<div id="main-inner">
			<div id="left">
				<div id="box">
					<h2>Your information</h2>
					<div id="login">
						<h3>Login </h3>
						<input type="text" name="username" value=":username"><br />
						<input type="text" name="email" value=":email">
					</div>
					<div id="information">
						<h3>Customer</h3>
						<input type="text" name="fullname" value=":fullname">
						<textarea name="address" cols="25">:adress</textarea>
						<input type="text" name="postcode" size="20" value=":postcode">
						<input type="text" name="telephone" value=":telephone">
					</div>
				</div>
			</div>

			<div id="right" class="pay">
				<div id="box">
					<h2>Payment period</h2>
						<input type="hidden" name="packagename" size="20" disabled="true" value=":selectedpackagename">
						<input type="hidden" name="packageid" size="1" value=":pid">
							:payoptions
				</div>
			</div>
			<div id="right" class="trans">
				<div id="box">
					<h2>Transfer website</h2>
						<input type="text" name="website" value=":transfer_website" />
						<br />
						<input type="checkbox" name="help_dns">I want to have help with transfer of the doamin. <br />
						I don't have a domain.
				</div>
			</div>		
		</div>
		<div id="bottom">
			<input type="submit" value="Create account and choose payment >>" name="SubmitForm" />
		</div>
	</form>
</div>
</body>
</html>